<main class="container">
   <div>      
    <LinkTo @route='home'>home Page</LinkTo>
    <LinkTo @route='contact'>contact Page</LinkTo>
    <a href="https://www.google.com">google.com</a>
  </div>
</main> 

{{outlet}}